@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.extension {
  background: #324ca8;
  transition: ease 500ms;
  padding: 15px;
}

.extension:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
  transform: scale(1.3,1.3);
}

body,html {
  text-align: center;
  background: black;
}

* {
  font-family: "Nunito", sans-serif;
}

.eCMD {
  display: none;
}

.eBtn {
  border: none;
  padding: 10px;
  background: #6cc263;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 200ms;
}

.eBtn:hover {
  border-radius: 1px;
}
